@charset "UTF-";
/*Adicionando Fontes externas*/
@font-face {
    font-family: 'Glacial Indifference';
    src: url(Fontes/GlacialIndifference-Regular.otf);
}
@font-face {
    font-family: 'Herical Sans';
    src: url(Fontes/Hertical\ Sans/Hertical\ Sans\ Regular.otf);
}

/*Criando variáveis para fontes e cores*/
:root{
    --cor-prin: #263F73;
    --cor-sec: #006E90;
    --cor-terc: #BB4430;
    --cor-fund: #D8DDEF;
    --cor-contr: #070E1C;
    --font-text: 'Glacial Indifference', 'Arial';
    --font-title: 'Herical Sans', 'Arial';
}
/*Configuração padrã*/
*{
    margin: 0;
    padding:0;
    box-sizing: content-box;
}
body{
    background-color: var(--cor-fund);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Configurando o cabealho*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom, var(--cor-prin), var(--cor-sec));
    padding:20px 0;
    justify-content: space-around;
    width: 100vw;
    max-width: 1366px;
}
header > .logomarca{
    display: flex;
    justify-content: left;
}
header > .logomarca > img{
    width:10rem;
    border-radius:45px;
}
header > .search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
header > .search-box > input{
    width:250px;
    height:50px;
    border-radius: 45px;
    font-family: var(--font-text);
    font-size: 1em;
    padding-left:10px;
}
header > .search-box > img{
    width: 48px;
}
header > .outro-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > .outros-itens > .compras > a > img{
    width:48px;
}
header > .outros-itens > section{
    font-family: var(--font-title);
    text-align: right;
    color: var(--cor-fund);
}
header > .outros-itens > section  a{
    text-decoration: none;
    color: var(--cor-fund);
}
/*Configuração do NAVBAR*/
nav{
    display: flex;
    background-color: var(--cor-sec);
    justify-content: center;
    width: 100vw;
    max-width: 1366px;
}
nav > .iconeMenu{
    display: none;
}
nav >#menu{
    display: flex;
    justify-content: space-around;
}
nav > #menu > ul{
    display:flex;
    column-gap: 25px;
}
nav > #menu > ul > li{
    list-style: none;
    display: inline-block;
    font-family: var(--font-text);
    font-size: 1.5em;
}
nav > #menu > ul > li> a{
    text-decoration: none;
    color: var(--cor-fund);
    transition: background 0.4s;
}
nav > #menu > ul > li> a:hover{
background-color: var(--cor-terc);
padding: 0 10px;
display: block;
transition:0.4s;
}
/*Configuração do main*/
main{
    min-height:25vh;
    width: 100vw;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
}
/*Estilização do banner*/
main > .banner{
    margin-top:20px;
}
main > .banner > img{
    max-width:1366px;
    width:100vw;
}
/*Estilização de h1*/
main > h1{
    font-family: var(--font-title);
    margin-top:80px;
    text-align: center;
    color:var(--cor-prin);
    text-shadow: -2px 2px 2px #090e1bb9;
}
/*Estilização do slide*/
main > .conteiner{
    position:relative;
    margin: 0 auto;
}
main > .conteiner > .slide > .setaEsquerda, .setaDireita{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:auto;
    width:40px;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: var(--cor-terc);
    border: none;
    background: linear-gradient(to left, transparent 0%, black 200%);
    cursor:pointer;
    opacity:0.1;
    transition: all 600ms ease-in-out;
}
main > .conteiner > .slide > .setaDireita{
    left:auto;
    right:0;
    background: linear-gradient(to right, transparent 0%, black 200%);
}
main > .conteiner > .slide > .setaEsquerda:hover{
    opacity:1;
}
main > .conteiner > .slide > .setaDireita:hover{
    opacity:1;
}
main > .conteiner > .slide > .promocoes{
    width: 100vw;
    max-width: 1366px;
}
main > .conteiner > .slide > .promocoes > img{
    width: 100%;
}
/*Configuração do Mural*/
main > .muralProd{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFF;
    align-items: center;
    justify-content: center;
    width:100vw;
    max-width: 1366px;
    box-sizing: border-box;
    margin-bottom: 80px;
}
main > .muralProd > figure{
    width:30%;
    height: 466px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing:;
}
main > .muralProd > figure > a > img{
    width:30%;
    min-width: 300px;
    height:300px;
    margin-bottom:20px;
}
main > .muralProd > figure > figcaption > a{
    text-decoration: none;
}
main > .muralProd > figure > figcaption > a > p{
    text-align:center;
    color: var(--cor-contr);
    font-family: var(--font-text);
    font-size:20px;
    text-shadow: -1px 1px 2px #070e1c91;
}
/*Configuração do footer*/
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:  var(--cor-contr);
    justify-content: center;
    width: 100vw;
    max-width: 1366px;
}
footer > .rodape{
    text-align: center;
    font-family: var(--font-text);
    font-size:1.1em;
}
footer > .rodape > ul{
    list-style: none;
    padding: 10px
}
footer > .rodape > ul > li > a{
    text-decoration: none;
    color:var(--cor-fund)
}
footer > .rodape > ul > .titulo{
    color: var(--cor-fund);
}
footer > .rodape > a > img{
    height:50px;
    transition: height 0.4s;
}
footer > .rodape > a > img:hover{
    height: 55px;
    transition:0.4s;
}

/*TORNANDO O SITE MAIS RESPONSIVO*/
/*Responsividade do header*/
@media (max-width:634px){
    header > .search-box{
        order:2;
    }
    header > .outros-itens{
        order:1;
    }
}
/*Responsividade da NAVBAR*/
@media (max-width:862px){
    nav{
        flex-direction: column;
        align-items: center;
        width:230px;
    }
    nav > .iconeMenu{
        display: block;
        cursor: pointer;
    }
    nav > #menu{
        display: none;
        
    }
    nav > #menu > ul{
        display:block;
        width:250px;
        border-bottom: 25px;
    }
    nav > #menu > ul > li{
        list-style: none;
        display: block;
        text-align: center;
        padding:10px;
}
}